<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" verbose="1" parallel="classes" thread-count="2">

    <test name="Kreditech regression tests">
        <classes>
            <class name="com.kreditech.tests.GoogleSearchTest"/>
            <class name="com.kreditech.tests.SocialSectionTestsAdded"/>
        </classes>
    </test>
</suite>